<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Conceptual, Historical, Literary etc</key>
	<string>conceptual.xml</string>
	<key>Soups &amp; Starters</key>
	<string>soupsandstarters.xml</string>
	<key>Vegetarian &amp; Vegan</key>
	<string>vegetarianandvegan.xml</string>
</dict>
</plist>
