<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>news</key>
	<dict>
		<key>title</key>
		<string>News</string>
		<key>tabBarImage</key>
		<string>news</string>
		<key>shim</key>
		<string>shim_news</string>
		<key>headerText</key>
		<string>headerText_news</string>
		<key>tableHeader</key>
		<string>news_header</string>
		<key>iconTintW</key>
		<integer>0</integer>
		<key>barTintW</key>
		<integer>0</integer>
	</dict>
	<key>catalogue</key>
	<dict>
		<key>title</key>
		<string>Catalogue</string>
		<key>tabBarImage</key>
		<string>catalog</string>
		<key>shim</key>
		<string>shim_catalog</string>
		<key>headerText</key>
		<string>headerText_catalog</string>
		<key>tableHeader</key>
		<string>catalogue_header</string>
		<key>barTintR</key>
		<real>0.322</real>
		<key>barTintG</key>
		<real>0.376</real>
		<key>barTintB</key>
		<real>0.176</real>
	</dict>
	<key>radio</key>
	<dict>
		<key>title</key>
		<string>Radio</string>
		<key>tabBarImage</key>
		<string>radio</string>
		<key>shim</key>
		<string>shim_radio</string>
		<key>headerText</key>
		<string>headerText_radio</string>
		<key>tableHeader</key>
		<string>radio_header</string>
		<key>barTintR</key>
		<real>0.6899999999999999</real>
		<key>barTintG</key>
		<real>0.663</real>
		<key>barTintB</key>
		<real>0.07099999999999999</real>
	</dict>
	<key>recipes</key>
	<dict>
		<key>title</key>
		<string>Recipes</string>
		<key>tabBarImage</key>
		<string>recipes</string>
		<key>shim</key>
		<string>shim_recipes</string>
		<key>headerText</key>
		<string>headerText_recipes</string>
		<key>tableHeader</key>
		<string>recipes_header</string>
		<key>barTintR</key>
		<real>0.125</real>
		<key>barTintG</key>
		<real>0.275</real>
		<key>barTintB</key>
		<real>0.459</real>
	</dict>
</dict>
</plist>
